body {
    font-family: 'Avenir LT Std', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    color: #924CCC;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p.lead, .large {
    font-size: 1.2rem;
}

a {
    color: #924CCC;
}

a:hover {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

img.center {
    margin: 0 auto;
}

figure {
    margin: 0;
}

figure.small {
    max-width: 500px;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    padding: 8px 20px 5px;
}

th {
    color: #924CCC;
    font-weight: normal;
}

.table--border {
    width: 100%;
    border: 2px solid #924CCC;
    white-space: nowrap;
}

.table--border tr:first-of-type th {
    border-bottom: 2px solid #11091F;
}

.table--border tr:first-of-type td {
    border-bottom: 2px solid #924CCC;
}

.table--border th {
    background-color: #924CCC;
    color: white;
    text-align: left;
}

@media all and (min-width: 1200px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }
}