.footer {
	padding: 55px 0;
	background-color: #11091F;
	color: #EFE9F4;
	font-size: 14px;
}

.footer img {
	display: block;
	max-width: 102px;
	margin-bottom: 22px;
}

.footer h3 {
	color: white;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2.63px;
}

.footer p {
	margin: 10px 0;
	color: #EBDFF5;
}

.footer a {
	color: #EBDFF5;
	text-decoration: none;
}

.footer__social {
	display: flex;
	margin-top: 20px;
}

.footer__social a {
	margin-right: 10px;
	padding: 5px 2px;
	text-align: center;
}

.footer__social img {
	height: 30px;
	width: 30px;
}

.footer .row:first-of-type .column:first-of-type p {
	line-height: 26px;
}

.footer__copyright .column {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media all and (min-width: 800px) {
	.footer .row {
		display: block;
	}
}

@media all and (min-width: 1000px) {
	.footer .row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
	}

	.footer .row:first-of-type .column {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 17%;
		flex: 0 0 17%;
	}

	.footer .row:first-of-type .column:first-of-type {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 40%;
		flex: 1 0 40%;
		padding-right: 5%;
	}

	.footer .row:first-of-type .column:last-of-type {
		-webkit-box-flex: 1;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
	}

	.footer img {
		max-width: 118px;
	}

	.footer h3 {
		margin-top: 30px;
	}

	.footer__copyright .column:last-of-type {
		text-align: right;
	}
}