.media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.media__icon {
	display: block;
	flex: 1 0 100px;
	margin-right: 15px;
}

.media__icon img {
	width: 85px;
	height: auto;
}

.media__body h3 {
	margin: 0;
}