.media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.media__icon {
	display: block;
	flex-basis: 60px;
	margin-right: 20px;
}

.media__icon svg {
	width: 60px;
	height: 60px;
	fill: #924CCC;
}

.media__body h3 {
	margin: 0;
}